{% extends 'blog/base.html' %}
{% block content %}
{% load cat_tag %}
<div class="row" style="text-align:center;padding-bottom:50px">
  {% for newsl in newss %}
  <div class="col-md-4 col-md-offset-1" style="min-height: 70px;padding:5px; border-bottom:1px solid grey">{{ newsl.news_detail }}
    <div style="text-align: right; font-size: 10px; position: absolute; bottom: 0px; right: 10px;" class="col-md-12">
      <span>Source:- {{ newsl.source }}</span>
    </div>
  </div>
  {% endfor %}
</div>
{% for post in p_id %}
<div class="col-md-12 list-blk">
  <div class="col-md-3" style="background:url('/media/{{ post.image}}');background-size:cover;height:185px"></div>
  <div class="post col-md-9">
    <div class="date col-md-10">
      <p>{{ post.published_date }}</p>
    </div>
    <div class="cat col-md-2">
      <p>{% cat_name post.id %}</p>
    </div>
    <h1><a href="{% url 'post_detail' slug=post.slug art_category__Name=post.id|cat_n%}">{{ post.title }}</a></h1>
    <p>{{ post.text|striptags|linebreaks|truncatechars:250 }}</p>
    <small>Author: {{ post.author}}</small>
  </div>
</div>
{% endfor %}

{% endblock %}
{% block footer %}
{% include 'blog/footer.html' %}
{% endblock %}