h1 a {
    color: red;
    font-family: 'Lobster';
}
.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}


h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    //float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post h1 a, .post h1 a:visited {
    color: #333;
    text-decoration: none;
}
.post h1 a:hover{
    color:#000;
}
.list-blk{
    background-color: #ffc576;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    margin-bottom: 10px;
}

.art-det{
    margin-top: 10px;
    padding: 10px 20px;
}
.art-head{
    text-align: center;
}
.art-hd-blk{
    padding: 0;
    background: rgba(0, 0, 0, 0.58);
    color: #fff;
}
.art-fea{
    border: 10px solid #FF9400;
}
.art-cat{
    left: 10px;
    font-size: 20px;
    position: absolute;
    color: #333;
    background: #FF9400;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    top: 0;
}
.art-blk1{
    background: rgba(255,149,0,1);
background: -moz-linear-gradient(top, rgba(255,149,0,1) 0%, rgba(246,246,246,0.51) 49%, rgba(237,237,237,0) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,149,0,1)), color-stop(49%, rgba(246,246,246,0.51)), color-stop(100%, rgba(237,237,237,0)));
background: -webkit-linear-gradient(top, rgba(255,149,0,1) 0%, rgba(246,246,246,0.51) 49%, rgba(237,237,237,0) 100%);
background: -o-linear-gradient(top, rgba(255,149,0,1) 0%, rgba(246,246,246,0.51) 49%, rgba(237,237,237,0) 100%);
background: -ms-linear-gradient(top, rgba(255,149,0,1) 0%, rgba(246,246,246,0.51) 49%, rgba(237,237,237,0) 100%);
background: linear-gradient(to bottom, rgba(255,149,0,1) 0%, rgba(246,246,246,0.51) 49%, rgba(237,237,237,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9500', endColorstr='#ededed', GradientType=0 );
}
.cat {
    text-align: center;
    background: #FF9400;
    padding-top: 40px;
    margin-top: -23px;
}
.cat a{
    color:#fff;
}

.footer{
    background: #FF9400;
    padding: 15px;
    text-align: center
}
.footer a{
    color: #fff;
}

.side-head {
    padding: 5px 25px;
    color: #fff;
    background: #FF9400;
}

.side-ele{
    background-color: #ffc576;
    padding: 5px 0px;
    margin-bottom: 1px;
}

.side-blk{
    padding: 0;
    margin-bottom: 50px;
}
.news-sec{
    text-align: center;
    padding-bottom: 20px;
    background: #333;
    padding-top: 20px;
    color: #fff;
    margin-bottom: 10px;
    box-shadow: 0px 0px 17px -2px #000;
}
.news-hd{
    background: #FF9400;
    color: #000;
    padding-bottom: 10px;
}
.cat-blk li {
    display: inline-block;
    background: #FF9400;
    padding: 5px 5px;
    min-width: 80px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 1px #333;
    font-weight: bold;
}
.cat-blk li a {
    color:#fff;
}